thead tr {
    background-color: "#b4b2b2";
    font-weight: "700"
}

tbody tr:nth-child(even) {
    background-color: "yellow";
    font-weight: "700"
}

tbody tr:nth-child(odd) {
    background-color: "red";
    font-weight: "700"
}

.btn-error {
    background-color: red;
}