* {
    text-decoration: none
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}

.header {
    text-align: center;
    background-color: rgb(192 211 211 / 39%);
    padding: 30px 0;
}

.content {
    padding: 40px;
}

.App {
    height: 100%;
}

.btn-bar {
    display: flex;
}

.btn {
    font-size: 16px;
    width: 150px;
    color: #333;
    padding: 10px;
    margin: 20px 20px 20px 0;
    border-radius: 5px;
}



/* Styles for textboxes */
.form-group {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: left;
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

textarea {
    resize: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    border: 1px solid rgb(183, 183, 183);
    color: #333;
}

th {
    background-color: #182c42;
    color: #de6141;
}

tr:nth-child(even) {
    background-color: #f2f2f2cc;
}

tr:nth-child(odd) {
    background-color: #c9c9c9b0;
}


.btn-error {
    border: 0px;
    color: #fff;
    background-color: rgb(255 111 111);
}

.btn-warning {
    border: 0px;
    background-color: rgb(252, 214, 131);
}

.btn-success {
    border: 0px;
    background-color: rgb(177, 250, 148);
}

.btn-cancel {
    color: #fff;
    border: none;
    background-color: rgb(132, 132, 132);
}

.btn-table {
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    margin: auto 5px;
}


.banner {
    display: flex;
    width: 100%;
    background: #ffffff;
    align-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
    flex-direction: row; 
}

.banner-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 8%;
}

    .banner-text h1 {
        color: #30576a;
        font-size: 5rem;
    }


    .banner-text p {
        color: #ef5734;
        font-size: 2.5rem;
        padding: 0;
        margin: 15px 5%;
    }

        .banner-text p:nth-child(2) {
            background-color: #102d44;
            color: #ef5734;
            padding: 30px 10px 30px 40px;
            font-size: 2.5rem;
        }

        .banner-text p:nth-child(3) {
            color: #717171;
            font-style: italic;
        }

.banner-image {
    text-align: center;
    position : relative;
}

.banner-image-cover {
    background: linear-gradient(to bottom, transparent 48%, #fff 83%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.banner-image img {
    max-width: 90%;
    margin: auto;
}

.bookList {
    background-attachment: fixed;
    background-size: contain;
    background-position: top center; 
    background-image: url('files/images/midsection.jpg')
}

.about-image img {
    width: 50%;
    border-radius: 24%;
    box-shadow: 0px 20px 20px 12px #7e7e7e;
}